.post
  :position relative

.permalink .pl
  :color #63A693
  :font-size 35px
  :position absolute
  :top -28px
  :right -30px
  :text-decoration none
  :padding 0px
  :width 20px
  &:hover
    :color yellow
    :font-weight bold

#red .permalink .pl
  :left -35px
  :top -5px
  :bottom 0px
